
@{
    ViewData["Title"] = " - O nama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- 1st section -->
<section class="row tm-section m-0 p-0" data-aos="fade-up" data-aos-delay="300">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
        <div class="tm-flex-center p-5 tm-bg-color-primary tm-section-min-h">
            <h1 class="tm-text-color-white tm-site-name">Timex Grafo D.O.O.</h1>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" data-aos="fade-up" data-aos-delay="350">
        <div class="tm-flex-center p-5">
            <h4 class="tm-text-color-gray font-weight-lighter text-center">
                - Kancelarijski materijal - <br /> - školski pribor - <br /> - proizvodnja registratora -
            </h4>
        </div>
    </div>
</section>

<!-- 2nd section -->
<section class="row tm-section tm-col-md-reverse" data-aos="fade-up" data-aos-delay="200">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-flex-center p-5">
            <div class="tm-md-flex-center">
                <h2 class="tm-text-color-secondary mb-4">Priča o nama</h2>
                <p class="mb-4 d-inline"><b>TIMEX GRAFO d.o.o.</b> je preduzeće koje se bavi proizvodnjom, uvozom i prodajom kancelarijskog materijala i školskog pribora. Preduzeće postoji od 1999 godine i koncipirano je kao veleprodaja školskog i kancelarijskog materijala.<span id="dots1">..</span></p>

                <span id="more1"> Pored veleprodaje bavimo se i proizvodnjom školskih svezaka, blokova i blokovske robe. Od 2006 godine, kupovinom novih i savremenih mašina za izradu registratora Timex Grafo se za vrlo kratko vreme svrstao među vodeće proizvođače registratora u zemlji.</span>
                <br />
                <button onclick="ReadMore()" class="btn btn-secondary float-lg-right tm-md-align-center mt-2" id="MyBtn1"> Pročitaj više</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
        <div class="tm-flex-center p-5 tm-bg-color-primary">
            <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                <img src="~/lib/images/6.JPG" alt="Image" class="rounded-circle mb-4 w-100">
                <p class="tm-text-color-white small tm-font-thin mb-0">Kancelarija u Beogradu se nalazi u Dobropoljskoj ulici u blizini Autokomande.</p>
            </div>
        </div>
    </div>
</section>

<!-- 3rd Section -->
<section class="row tm-section tm-mb-30" data-aos="fade-down" data-aos-delay="200">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
        <img src="~/lib/images/3.JPG" alt="Image" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-flex-center p-5">
            <div class="tm-flex-center tm-flex-col">
                <h2 class="tm-align-left text-secondary">Usluge koje pružamo</h2>
                <p class="d-inline">
                    Pored proizvodnje bavimo se i uvozom i izvozom. Uvoz se vrši iz Kine i sa Evropskog tržišta.

                    Prozvodnja preduzeća TIMEX GRAFO se bazira na izradi školskih svezaka u mekom i tvrdom povezu, crtaćih blokova, kolaž papira i ostalih školskih artikala koji se izrađuju od papira.<span id="dots2">..</span>
                </p>
                <span id="more2">
                    Drugi i možda još važniji deo naše proizvodnje je izrada registratora, fascikli, kartonskih kutija i ostalih proizvoda od kartona po zahtevu kupca.

                    Nova proizvodna linija koja obuhvata savremene mašine omogućava visoku produktivnost u izradi ovih proizvoda.
                </span>
                <br />
                <button onclick="ReadMore2();" class="btn btn-secondary" id="MyBtn2">Pročitaj više</button>
            </div>
        </div>
    </div>
</section>

<!-- 4th Section -->
<section class="row tm-section tm-mb-30" data-aos="fade-up" data-aos-delay="300">
    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <div class="tm-flex-center pl-0 pr-5 pt-5 pb-5">
            <div class="tm-md-flex-center">
                <h2 class="mb-4 tm-text-color-secondary">Osnovni podaci o preduzeću</h2>
                <table class="table table-striped table-hover table-sm">

                    <tbody>
                        <tr>
                            <th scope="row" class="data-label">Naziv</th>
                            <th>TIMEX GRAFO</th>
                        </tr>
                        <tr>
                            <th scope="row" class="data-label">Puno poslovno ime</th>
                            <th>TIMEX GRAFO DOO PREDUZEĆE ZA PROIZVODNJU, PROMET I USLUGE BEOGRAD</th>
                        </tr>
                        <tr>
                            <th scope="row" class="data-label">Skraćeno poslovno ime</th>
                            <th>TIMEX GRAFO DOO BEOGRAD</th>
                        </tr>
                        <tr>
                            <th scope="row" class="data-label">Matični broj</th>
                            <th>17238124</th>
                        </tr>
                        <tr>
                            <th scope="row" class="data-label">PIB</th>
                            <th>100163579</th>
                        </tr>
                        <tr>
                            <th scope="row" class="data-label">Status kompanije</th>
                            <th>Aktivno</th>
                        </tr>
                        <tr>
                            <th scope="row" class="data-label">Datum osnivanja</th>
                            <th>04.10.1999.</th>
                        </tr>
                        <tr>
                            <th scope="row" class="data-label">Pravna forma</th>
                            <th>Društvo sa ograničenom odgovornošću</th>
                        </tr>
                        <tr>
                            <th scope="row" class="data-label">Delatnost</th>
                            <th>
                                Ostalo štampanje (1812)
                            </th>
                        </tr>
                        <tr>
                            <th scope="row" class="data-label">Status bankovnih računa</th>
                            <th>Aktivan</th>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block d-sm-block d-lg-block d-xl-block col-sm-12 col-md-12 col-lg-4 col-xl-4 text-xl-right text-md-center text-center mt-5 mt-lg-0 pr-lg-5">
        <img src="~/lib/images/logo.JPG" alt="Image" class="img-fluid">
    </div>
</section>

@section Scripts{
    <script type="text/javascript">

        function ReadMore() {
            var dots1 = document.getElementById("dots1");
            var moreText1 = document.getElementById("more1");
            var btnText1 = document.getElementById("MyBtn1");

            if (dots1.style.display === "none") {
                dots1.style.display = "inline";
                btnText1.innerHTML = "Pročitaj više";
                moreText1.style.display = "none";
            } else {
                dots1.style.display = "none";
                btnText1.innerHTML = "Pročitaj manje";
                moreText1.style.display = "inline";
            }

        }


        function ReadMore2() {
            var dots2 = document.getElementById("dots2");
            var moreText2 = document.getElementById("more2");
            var btnText2 = document.getElementById("MyBtn2");

            if (dots2.style.display === "none") {
                dots2.style.display = "inline";
                btnText2.innerHTML = "Pročitaj više";
                moreText2.style.display = "none";
            } else {
                dots2.style.display = "none";
                btnText2.innerHTML = "Pročitaj manje";
                moreText2.style.display = "inline";
            }

        }
    </script>
}