
@{
    ViewData["Title"] = " - Kolačići";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="font-weight-light text-center text-md-left mt-4 mb-0" data-aos="fade-up" data-aos-delay="200">Politika o kolačićima</h3>

<hr class="mt-2 mb-5" data-aos="fade-down" data-aos-delay="200">

<div class="row mb-3">
    <div class="col-md-8 offset-md-2 bg-light">
        <h5 class="pt-4">Šta su kolačići? </h5>
        <hr class="hr-bold hr-short bg-secondary ml-0"/>
        <p>
            Kolačići su mali tekstualni fajlovi koji se čuvaju na Vašem računaru ili mobilnom uređaju obezbeđujući efikasnije funkcionisanje veb sajtova i stranica. Kolačići omogućavaju našem sajtu da Vas prepozna i zapamti važne informacije kako bi Vam korišćenje sajta bilo udobnije.
        </p>

    </div>
</div>
<div class="row mb-4">
    <div class="col-md-8 offset-md-2 bg-light">
        <h5 class="pt-4">Koje kolačiće koristimo?</h5>
        <hr class="hr-bold hr-short bg-secondary ml-0" />
        <p>Veb aplikacija našeg preduzeća Timex Grafo d.o.o. (https://www.timexgrafo.rs/) koristi isključivo kolačiće neophodne za funkcionisanje veb aplikacije. Kolačići funkcionalnosti nam pomažu da unapredimo Vaše korisničko iskustvo prilikom posete našem sajtu.</p>
    </div>
</div>
